$white: #FFFFFF;
$gray: #afafaf;
$blue: #4d87e9;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding-top: 75px;
  font-size: 14px;

  &.bg-blue {
    background-color: $blue;
  }

  .form-login {
    width: 900px;
    background-color: $white;
    margin: 0 auto;
    overflow: hidden;

    a {
      color: $blue;
      text-decoration: none;
    }

    &-content,
    &-img {
      height: 100%;
    }

    &-content {
      padding: 75px;
    }

    &-img {
      background-color: #ededed;
      display: flex;
      align-items: center;
      justify-content: center;

      i-feather {
        width: 100px;
        height: 100px;
        color: #cecece;
      }
    }

    &-title {
      color: #4b4b4b;
      margin-bottom: 10px;
      font-size: 24px;
    }

    &-newuser {
      color: #7d7d7d;
      margin-top: 20px;
    }

    form {
      margin-top: 30px;

      .forgot-password {
        text-align: right;
      }

      h4 {
        text-align: center;
        border-bottom: 2px solid #eaeaea;
        line-height: 1.5px;
        margin: 25px 10px;
        color: $gray;

        span {
          background: $white;
          padding: 0 10px;
          font-weight: 400;
        }
      }

      .mv3 {
        position: relative;
      }

      input {
        width: 100%;
        padding: 15px 20px 15px 60px;
        border: 1px solid $gray;
        border-radius: 50px;
        outline: none;
      }

      ::placeholder {
        color: #c0c0c0;
        font-size: 14px;
      }

      i-feather {
        color: $gray;
        position: absolute;
        left: 20px;
        top: 15px;
        width: 20px;
        height: 15px;
      }
    }


    &-btn {
      button {
        width: 100%;
        padding: 5px;
        padding: 15px;
        border: none;
        border-radius: 50px;
        color: $white;
        outline: none;
        cursor: pointer;

        &.btn-default {
          background-color: $gray;
        }

        &.btn-facebook {
          background-color: #4267b2;
        }

        &.btn-google {
          background-color: #db4437;
        }
      }
    }
  }
}