<div class="content bg-blue" role="main">
  <div class="form-login br4">
    <div class="fl w-60 form-login-content">
      <h2 class="form-login-title">Welcome Back</h2>
      <div class="form-login-newuser">New user? <a href="#">Create a account</a></div>

      <form>
        <div class="mv3">
          <input type="text" placeholder="Email Address" />
          <i-feather name="mail"></i-feather>
        </div>

        <div class="mv3">
          <input type="text" placeholder="Password" />
          <i-feather name="lock"></i-feather>
        </div>

        <div class="mv3 forgot-password">
          <a href="#">Forgot password?</a>
        </div>

        <div class="mv3 form-login-btn">
          <button class="btn-default">Login</button>
        </div>

        <h4><span>OR</span></h4>

        <div class="mv3 form-login-btn">
          <button class="btn-facebook">Login with Facebook</button>
        </div>

        <div class="mv3 form-login-btn">
          <button class="btn-google">Login</button>
        </div>
      </form>
    </div>
    <div class="fl w-40 form-login-img">
      <i-feather name="image"></i-feather>
    </div>
  </div>
</div>

<router-outlet></router-outlet>